/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-dic-2025, 12.42.35
    Author     : euppa
*/

.parent{
    -fx-background-color: linear-gradient(from 45% 50% to 100% 100%, #fbdc9d, #f7ead1);
    -fx-background-width: 5px;
}

.image{
    -fx-effect: dropshadow(three-pass-box, #FFFFFF, 4, 0, 0, 0);
}

.scrittatop{
    -fx-background-radius: 15px;
    -fx-background-color: linear-gradient(to right, #376fda, #3b9ad8);
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 2, 2);
    -fx-border-color:#d6d6d6;
    -fx-border-radius:15px;
}
.side{
    -fx-background-color: linear-gradient(to bottom, #1d4f87, #5b82c2);
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, #000000, 14, 0, 1, 0);
}

.home{
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, #FFFFFF, 2, 0, 1, 1);
    -fx-border-radius:20px;
}
.home:hover{
    -fx-background-color:#000000;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, #FFFFFF, 2, 0, 1, 1);
    -fx-border-radius:20px;
}

.table{
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 1, 1);
}

.barraRicerca{
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 0, 0);
}

.bottoni{
    -fx-effect: dropshadow(three-pass-box, #000000, 5, 0, 1, 1);
}
.intestazine{
    -fx-effect: dropshadow(three-pass-box, #000000, 5, 0, 1, 1);
    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(from 66% 75% to 100% 100%, #f07552, #f0a452);   
    -fx-border-color:#000000;
    -fx-border-radius:15px;
}
.pannelloUtenti{
    -fx-background-color: linear-gradient(from 45% 50% to 100% 100%, #fbdc9d, #f7ead1);
    -fx-background-width: 5px;
}
.copyright{
    -fx-text-color:#000000;
}

.campiComparsa{
    -fx-background-radius: 20px;
    -fx-background-color:#d1b988;
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 0, 0);
    -fx-prompt-text-fill:#343333;
}

