/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-dic-2025, 12.42.35
    Author     : euppa
*/

.parent{
    -fx-background-color: linear-gradient(from 45% 50% to 100% 100%, #fbdc9d, #f7ead1);
    -fx-background-width: 5px;
}

.image{
    -fx-effect: dropshadow(three-pass-box, #FFFFFF, 4, 0, 0, 0);
}

.scrittatop{
    -fx-background-radius: 15px;
    -fx-background-color: linear-gradient(to right, #376fda, #3b9ad8);
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 2, 2);
    -fx-border-color:#d6d6d6;
    -fx-border-radius:15px;
}
.side{
    -fx-background-color: linear-gradient(to bottom, #1d4f87, #5b82c2);
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, #000000, 14, 0, 1, 0);
}

.home{
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, #FFFFFF, 2, 0, 1, 1);
    -fx-border-radius:20px;
}
.home:hover{
    -fx-background-color:#000000;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, #FFFFFF, 2, 0, 1, 1);
    -fx-border-radius:20px;
}

.table {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 1, 1);
}

.table .column-header-background {
    -fx-background-radius: 20 20 0 0;
    -fx-background-insets: 0;
}

.table .column-header, 
.table .filler {
    -fx-background-color: transparent;
}

.table .corner {
    -fx-background-color: transparent;
}
.table .table-row-cell {
    -fx-background-color: transparent;
}

.table .table-cell {
    -fx-background-color: transparent;
}
.table .filler {
    -fx-background-color: transparent;
}


.barraRicerca{
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 0, 0);
    -fx-background-image: url('../lente-ricerca.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 7px center;
    -fx-background-size: 25px 25px;
    -fx-padding: 5px 5px 5px 40px; 
}

.bottoni{
    -fx-effect: dropshadow(three-pass-box, #000000, 5, 0, 1, 1);
}
.intestazine{
    -fx-effect: dropshadow(three-pass-box, #000000, 5, 0, 1, 1);
    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(from 66% 75% to 100% 100%, #f07552, #f0a452);   
    -fx-border-color:#000000;
    -fx-border-radius:15px;
}
.pannelloUtenti{
    -fx-background-color: linear-gradient(from 45% 50% to 100% 100%, #fbdc9d, #f7ead1);
    -fx-background-width: 5px;
}
.copyright{
    -fx-text-color:#000000;
}

.campiComparsa{
    -fx-background-radius: 20px;
    -fx-background-color:#d1b988;
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 0, 0);
    -fx-prompt-text-fill:#343333;
}

.pannelloElimina{
    -fx-background-color: linear-gradient(from 45% 50% to 100% 100%, #fbdc9d, #f7ead1);
    -fx-background-width: 5px;
}
.bottone-elimina{
    -fx-background-color: #ead5d5;
    -fx-effect: dropshadow(three-pass-box, #ea6969, 5, 0, 1, 1);
}
