/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-dic-2025, 12.42.35
    Author     : euppa
*/

.parent{
    -fx-background-color: linear-gradient(from 45% 50% to 100% 100%, #fbdc9d, #f7ead1);
    -fx-background-width: 5px;
}

.image{
    -fx-effect: dropshadow(three-pass-box, #FFFFFF, 4, 0, 0, 0);
}

.scrittatop{
    -fx-background-radius: 15px;
    -fx-background-color: linear-gradient(to right, #376fda, #3b9ad8);
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 2, 2);
    -fx-border-color:#d6d6d6;
    -fx-border-radius:15px;
}
.side{
    -fx-background-color: linear-gradient(to bottom, #1d4f87, #5b82c2);
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, #000000, 14, 0, 1, 0);
}

.home{
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, #FFFFFF, 2, 0, 1, 1);
    -fx-border-radius:20px;
}
.home:hover{
    -fx-background-color:#000000;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, #FFFFFF, 2, 0, 1, 1);
    -fx-border-radius:20px;
}

.table-view {
    -fx-base: #e8b370;
    -fx-background-color: #e8b370;
    -fx-border-color:#91908e;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-padding: 5px; 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 15, 0, 0, 5);
}

.table-view .virtual-flow {
    -fx-background-radius: 15px;
    -fx-background-color: white; 
}

.table-view .column-header-background {
    -fx-background-color: transparent; 
    -fx-background-radius: 15px 15px 0 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-size: 45px; 
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #c0a878; 
}

.table-view .column-header .label {
    -fx-text-fill: #343333;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.table-view .table-cell {
    -fx-alignment: CENTER-LEFT;
    -fx-border-width: 0; 
    -fx-padding: 10px;   
    -fx-text-fill: #555555;
}

.table-view .table-row-cell {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1px 0; 
    -fx-border-color: #eeeeee;
}

.table-view .table-row-cell:hover {
    -fx-background-color: #f0e6d2; 
    -fx-cursor: hand;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #d1b988;
    -fx-background-insets: 0;
    -fx-background-radius: 5px; 
}
.table-view .table-row-cell:selected .text {
    -fx-fill: white; 
}

.table-view:focused, .table-view {
    -fx-background-insets: 0;
}

.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 0 5px 0 0;
}
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #c0a878;
    -fx-background-radius: 10px;
}
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .table-row-cell:evidenziata {
    -fx-background-color: #f57777; 
    -fx-text-fill: #990000;       
}

.table-view .table-row-cell:evidenziata:hover {
    -fx-background-color: #bf5f5f; 
}

.table-view .table-row-cell:evidenziata:selected {
    -fx-background-color: #d1b988; 
    -fx-text-fill: white;
}



.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 5px 0 5px 0; 
}

.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #c0a878; 
    -fx-background-radius: 10px;
    -fx-background-insets: 0 4px 0 0; 
}


.table-view .scroll-bar:vertical .increment-button,
.table-view .scroll-bar:vertical .decrement-button {
    -fx-padding: 0;
    
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-min-height: 0;
    
    -fx-background-color: transparent;
    -fx-opacity: 0; 
}


.barraRicerca{
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 0, 0);
    -fx-background-image: url('../lente-ricerca.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 7px center;
    -fx-background-size: 25px 25px;
    -fx-padding: 5px 5px 5px 40px; 
}

.bottoni{
    -fx-effect: dropshadow(three-pass-box, #000000, 5, 0, 1, 1);
}
.intestazine{
    -fx-effect: dropshadow(three-pass-box, #000000, 5, 0, 1, 1);
    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(from 66% 75% to 100% 100%, #f07552, #f0a452);   
    -fx-border-color:#000000;
    -fx-border-radius:15px;
}
.pannelloUtenti{
    -fx-background-color: linear-gradient(from 45% 50% to 100% 100%, #fbdc9d, #f7ead1);
    -fx-background-width: 5px;
}
.copyright{
    -fx-text-color:#000000;
}



.campiComparsa {
    -fx-background-radius: 20px;
    -fx-background-color: #d1b988;
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 0, 0);
    -fx-background-insets: 0;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #000000;
}

.text-field:errati{
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-background-color: #e67474;
    -fx-border-color: #ff4c4c;
    -fx-effect: dropshadow(three-pass-box, #cf8888, 10, 0, 0, 0);
    -fx-text-fill:#000000;
    -fx-prompt-text-fill:#000000;
}


.date-picker:errato {
    -fx-border-radius:20px;
    -fx-background-color: #e67474;
    -fx-border-color: #ff4c4c;
    -fx-effect: dropshadow(three-pass-box, #cf8888, 10, 0, 0, 0);
    -fx-text-fill:#000000;
    -fx-prompt-text-fill:#000000; 
}

.date-picker:errato > .text-field {
    -fx-background-color: #ffdddd;
    -fx-text-fill: darkred;
}


.campiComparsa > .text-field {
    -fx-background-radius: 20px 0 0 20px;
    -fx-padding: 0.5em 0.5em 0.5em 1.0em;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #000000;
}
.campiComparsa > .arrow-button {
    -fx-background-radius: 0 20px 20px 0;
    -fx-background-color: transparent;
    -fx-padding: 0.5em 1em;
}
.campiComparsa > .arrow-button > .arrow {
    -fx-background-color: #343333;
}


.pannelloElimina{
    -fx-background-color: linear-gradient(from 45% 50% to 100% 100%, #fbdc9d, #f7ead1);
    -fx-background-width: 5px;
}

.confermaElimina{
    -fx-border-radius:15px;
    -fx-background-radius:15px;
    -fx-background-color: #ffcece;
    -fx-border-color: #cf8888;
    -fx-effect: dropshadow(three-pass-box, #cf8888, 10, 0, 0, 0);
}

.annullaElimina{
    -fx-border-radius:15px;
    -fx-background-radius:15px;
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 0, 0);
}
